<% if (site.tags.length){ %>
  <div class="widget">
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
    <div class="tagcloud">
      <%- tagcloud({min_font: 12, max_font: 22}) %>
    </div>
  </div>
<% } %>
