<div id="neon-game">
  <canvas id="neon-runner"></canvas>
  <div id="neon-game-header" style="display:none;">
    <span id="neon-score"></span>
    <span id="neon-high"></span>
    <span id="neon-msg"></span>
  </div>
  <div class="neon-game-hint">[ SPACE / タップでジャンプ ]</div>
</div>
<%- js('js/game') %>